{% extends "critica_cine/base.html" %}

{% block titulo %}

<title>Blog de cine y series: about </title>

{% endblock titulo %}


{% block contenido %}
<section>
    <div>
       
        <h1>Sobre nosotros</h1>

       Mi nombre es  Alexander Amarilla, vivo en la ciudad de Cordoba y soy estudiante del curso de Pyhon. 
       Este proyecto es sobre un blog de cine y series. Un blog creado con Django con la intención de comprartir 
        informacion y comentarios sobre cine y series. 
        
    </div>

</section>
{% endblock contenido %}
